# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string

# Mongo DB
# Local development
MONGODB_URI='mongodb://localhost/node_arch_study'

# Port
PORT=3000

# Debug
LOG_LEVEL='debug'
